# COMPOSER
/vendor

# CRAFT STORAGE
/craft/storage/*
/storage/*

# Public
/public/build/*
/public/bundle/*

# Templates
/templates/bundles/EasyAdminBundle/layout.html.twig
/templates/bundles/EasyAdminBundle/page/login_minimal.html.twig

# BUILD FILES
/bower_components/*
/node_modules/*
/build/*
/yarn-error.log
/var

.vscode
.history

LICENSE